@import './colors.scss'; // --> colors
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(5, 5, 5, 0.986);
        font-size: 15px;
        font-family: 'Overpass', sans-serif;


    main {
        width: 420px;
        height: 400px;
        border-radius: 20px;
        padding: 30px;
        background-color: $very-dark-blue;

        .container-img {
           width: 3rem;
           height: 6vh;
           border-radius: 50%;
           display: flex;
           justify-content: center;
           align-items: center;
           background-color: $dark-blue;

            img {
                height: 40%;
            }
        } // .container-img

      .text-main {
        margin-top: 20px;
        h1 {
            color: $white;
            font-size: 28px;
            font-weight: 400;
            padding-bottom: 20px;
        }

        p {
            color: $medium-grey;
            padding-bottom: 30px;
        }
      } // .text-main

      .btn-section {
        display: flex;
        gap: 25px;
        

        button {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: none;
            color: $medium-grey;
            background-color: $dark-blue;

            &:hover {
                color: $white;
                background-color: $light-grey;
                cursor: pointer;
               }

               &:active {
                color: $white;
                background-color: $orange;
                cursor: pointer;
               }

        }
      } //. btn-section

      .submit-btn {
        display: flex;
        justify-content: center;
        padding-top: 30px;


        button {
            padding: 10px 120px;
            border-radius: 20px;
            border: none;
            background-color: $orange;
            text-transform: uppercase;
            font-weight: 700;
            color: $white;
            letter-spacing: 0.15rem;
            font-size: 1rem;
            margin-right: 20px;

            &:hover {
                background-color: $medium-grey;
            }

            &:active {
                color: $orange;
                background-color: $white;
                cursor: pointer;
            }
        }

      } //.submit-btn
    } // main

    } // body
    @media (max-width: 450px) {
        body {
            main {
                width: 350px;
                padding: 40px;

                .text-main {
                    p {
                        width: 110%;
                    }
                }

                .btn-section {
                    gap: 10px;
                }
                .submit-btn {

                    .btn-submit {
                        padding: 7px 100px;
                    }
                }
            } // main
        } // body
    } // @media

    @media (max-width: 360px) {
        body {

            main {
                width: 320px;

                .text-main {
                    p {
                        font-size: 1rem;
                    }
                }

                .btn-section {
                    
                    gap: 10px;
                }
                .submit-btn {

                    .btn-submit {
                        padding: 7px 100px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
        
    }

} // *

